services:
  postgres:
    ports:
      - "5432:5432"
    restart: "no"

  redis:
    ports:
      - "6379:6379"
    restart: "no"

  app:
    ports:
      - "8080:8080"
    environment:
      BASE_URL: http://localhost:8080
    restart: "no"
    volumes:
      - .:/app
